
@import url('http://fonts.cdnfonts.com/css/harrypotter7');
@import url('http://fonts.cdnfonts.com/css/magic-school-one');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#register{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./HL1.jpg);  
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 100px;
    font-family: 'HarryPotter7', sans-serif;
}

 
.regform, .mane ,button {
    z-index: 1;
}   
.regform{
   top:100px;
   width:800px;
   margin:auto;
   color:#000000;
   padding:30px 0px;
   text-align:center;
   border-radius:15px 15px 0px 0px;
}

.regform h1{
    font-family: 'HarryPotter7', sans-serif;
    font-size: 50px;
    color: rgba(44, 3, 3, 0.6);
    text-align: center;
}

.regform h1 span{
    color: rgb(122, 20, 20);
    font-family: 'HarryPotter7', sans-serif;
}

.mane{
   width:1000px;
   margin:auto;
}
form{
   padding:10px;
}

.name{
   margin-left: 25px;
   margin-top: 30px;
   width: 125px;
   color:rgb(0, 0, 0);
   font-size:18px;
   font-weight:700;
}
.firstname{
   position: relative;
   left:200px;
   top:-37px;
   line-height:40px;
   text-transform: capitalize;
   border-radius: 6px;
   padding:0 22px;
   font-size: 16px;
}

.textbx{
    width: 70%;
}

.house{
    position: relative;
    left:200px;
    top:-37px;
    line-height:40px;
    border-radius:6px;
    padding:0 22px;
    font-size: 16px;
}
.wand{
    position: relative;
    left:200px;
    top:-37px;
    line-height:40px;
    border-radius:6px;
    padding:0 22px;
    font-size: 16px;
}
.number{
    position: relative;
    left:200px;
    top:-37px;
    line-height:40px;
    border-radius:6px;
    padding:0 22px;
    font-size: 16px;
}
.radio{
    display: inline-block;
    padding-right: 70px;
    font-size: 20px;
    left:200px;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: -90px;
    /* color: white; */
}
.radio input{
    margin-top: -90px;
    width:20px;
    height:20px;
    border-radius:50%;
    cursor:pointer;
    outline:none;
}
.radio .radio-one {
    margin-left: 180px;
}
.checkbox{
    display: inline-block;
    padding-right: 70px;
    font-size: 20px;
    left:200px;
    margin-top: -90px;
    padding-bottom: 10px;
}
.checkbox input{
    margin-top: -90px;
    width:20px;
    height:20px;
    border-radius:50%;
    cursor:pointer;
    outline:none;
}
.checkbox .checkbox-one {
    margin-left: 200px;
}

.option{
    font-family: 'HarryPotter7', sans-serif;
    position: relative;
    left:200px;
    top:-37px;
    line-height:40px;
    height: 40px;
    width:690px;
    border-radius:6px;
    padding:0 22px;
    font-size: 16px;
    color:#555;
    outline:none;
    overflow: hidden;
}
.option option{
    font-size: 20px;
}

button{
   font-family: 'HarryPotter7', sans-serif;
   margin:20px 0 0 350px;
   text-align: center;
   border-radius: 12px;
   font-size: 20px;
   border:2px solid #aa5d1f;
   padding:14px 110px;
   cursor:pointer;
   background-image: linear-gradient(60deg, #ffe7c7 0%, #ca964e 100%);
}
button:hover{
    background-image: linear-gradient(60deg, #ffe7c7 0%, #ff9500 100%);
}

